@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(241, 224, 198);
  /* color: rgb(235, 182, 103); */
  text-shadow: -1px -1px 2px #032264, 1px -1px 2px #032264, -1px 1px 2px #032264,
    1px 1px 2px #032264;
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden;
}
